{{ form_start(form) }}
                <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.nombre, 'Titulo') }}
                            {{ form_widget(form.nombre, {'attr': {'class':'form-control', 'placeholder': 'Ingrese el titulo'}})}}
                        </div>
                       
                        
                       
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                </div>
        {{form_rest(form)}}
{{ form_end(form) }}
